h1{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
}
h2{
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
}