.userList{
    display: grid;
    grid-template-columns: 5% 2% 92%;
    align-items: center;
}
table{
    border: 2px solid #ddd;
    width: 100%;
    height: 70vh;
    text-align: center;
}
.userList th{
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    padding: 20px 0;
}
.userList tr{
    padding: 2em;
}
.userList button{
    border: none;
    background-color: #f00;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
}