.user-details{
    display: grid;
    grid-template-columns: 5% 2% 92%;
    align-items: center;
}
.user-details table{
    width: 50%;
    margin: 3% auto;
    font-size: 25px;
    border-radius: 20px;
    background: #eee;
}
.user-details th{
    width: 50%;
}
.user-details td{
    text-align: center;
}
.back-btn{
    color: #8692a6;
    font-weight: bold;
    padding:20px;
}