.not-found{
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg,rgba(219, 183, 230, 0),#d4b8ee), url(../../assets/image/backnotfound.webp);
    background-position: center;
    background-size: cover;
}

.not-found .notFound-content{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    width: fit-content;
    position: absolute;
    text-align: center;
    top: 20%;
    right: 37%;
}

.gears {
    width: 200px;
    height: 200px;
    transform: translateY(-55%);
    display: inline-block;
    background-color: transparent;
    position: absolute;
    animation: gears-show 1s 2s backwards;
}
.right-gear{
    top: 30%;
    left: 20%;
}
.left-gear{
    bottom: 10%;
    right: 20%;
}
@keyframes gears-show {
from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-55%) scale(0.4);
}
to {
    opacity: 1;
    visibility: visible;
    transform: translateY(-55%) scale(1);
}
}
@keyframes gears-show2 {
from {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.4);
}
to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
}
.gears:first-child {
margin-right: 3%;
}
.gears-container {
width: 190px;
height: 150px;
font-size: 24px;
padding: 9%;
position: relative;
margin: 0px auto;
}
.gear-rotate {
width: 2em;
height: 2em;
top: 50%;
left: 50%;
margin-top: -1em;
margin-left: -1em;
background: #ad4ee2;
position: absolute;
border-radius: 1em;
-webkit-animation: 1s gear-rotate linear infinite;
-moz-animation: 1s gear-rotate linear infinite;
animation: 1s gear-rotate linear infinite;
}
.gear-rotate-left {
margin-top: -2.2em;
top: 50%;
width: 2em;
height: 2em;
background: #ad4ee2;
position: absolute;
border-radius: 1em;
-webkit-animation: 1s gear-rotate-left linear infinite;
-moz-animation: 1s gear-rotate-left linear infinite;
animation: 1s gear-rotate-left linear infinite;
}

.gear-rotate::before,
.gear-rotate-left::before {
width: 2.8em;
height: 2.8em;
background: -webkit-linear-gradient(
    0deg,
    transparent 39%,
    #ad4ee2 39%,
    #ad4ee2 61%,
    transparent 61%
    ),
    -webkit-linear-gradient(60deg, transparent 42%, #ad4ee2 42%, #ad4ee2 58%, transparent
        58%),
    -webkit-linear-gradient(120deg, transparent 42%, #ad4ee2 42%, #ad4ee2 58%, transparent
        58%);
background: -moz-linear-gradient(
    0deg,
    transparent 39%,
    #ad4ee2 39%,
    #47ec19 61%,
    transparent 61%
    ),
    -moz-linear-gradient(60deg, transparent 42%, #ad4ee2 42%, #ad4ee2 58%, transparent
        58%),
    -moz-linear-gradient(120deg, transparent 42%, #ad4ee2 42%, #ad4ee2 58%, transparent
        58%);
background: -o-linear-gradient(
    0deg,
    transparent 39%,
    #ad4ee2 39%,
    #ad4ee2 61%,
    transparent 61%
    ),
    -o-linear-gradient(60deg, transparent 42%, #ad4ee2 42%, #ad4ee2 58%, transparent
        58%),
    -o-linear-gradient(120deg, transparent 42%, #47ec19 42%, #ad4ee2 58%, transparent
        58%);
background: -ms-linear-gradient(
    0deg,
    transparent 39%,
    #ad4ee2 39%,
    #ad4ee2 61%,
    transparent 61%
    ),
    -ms-linear-gradient(60deg, transparent 42%, #ad4ee2 42%, #ad4ee2 58%, transparent
        58%),
    -ms-linear-gradient(120deg, transparent 42%, #ad4ee2 42%, #ad4ee2 58%, transparent
        58%);
background: linear-gradient(
    0deg,
    transparent 39%,
    #ad4ee2 39%,
    #ad4ee2 61%,
    transparent 61%
    ),
    linear-gradient(
    60deg,
    transparent 42%,
    #ad4ee2 42%,
    #ad4ee2 58%,
    transparent 58%
    ),
    linear-gradient(
    120deg,
    transparent 42%,
    #ad4ee2 42%,
    #ad4ee2 58%,
    transparent 58%
    );
position: absolute;
content: "";
top: -0.4em;
left: -0.4em;
border-radius: 1.4em;
}
.gear-rotate::after,
.gear-rotate-left::after {
width: 1em;
height: 1em;
background:#200f6c;
position: absolute;
content: "";
top: 0.5em;
left: 0.5em;
border-radius: 0.5em;
}

/*
    * Keyframe Animations 
    */

@-webkit-keyframes gear-rotate {
0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(-180deg);
}
}

@-moz-keyframes gear-rotate {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(-180deg);
}
}

@keyframes gear-rotate {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(-180deg);
}
}

@-webkit-keyframes gear-rotate-left {
0% {
    -webkit-transform: rotate(30deg);
}
100% {
    -webkit-transform: rotate(210deg);
}
}

@-moz-keyframes gear-rotate-left {
0% {
    -webkit-transform: rotate(30deg);
}
100% {
    -webkit-transform: rotate(210deg);
}
}

@keyframes gear-rotate-left {
0% {
    -webkit-transform: rotate(30deg);
}
100% {
    -webkit-transform: rotate(210deg);
}
}